{% extends 'polls/base/base.html' %}
{% block content %}

    <h1>Add Choice</h1>
    <form action="{% url 'choice_form' %}" method="post">
      {% csrf_token %}

      <label>QText: </label>{{ form.question }}
      <label>CText: </label>{{ form.choice_text }}
      <label>Votes: </label>{{ form.votes}}
      <input type="submit" value="Submit">
    </form>
    <!-- Link to go back to Add Question -->
    <a href="{% url 'index' %}" >Go Back</a>

    {% if messages %}
    <ul class="messages">
      {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
      {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
      {{ message }}
    </li>
    {% endfor %}
  </ul>
  {% endif %}

  {% endblock %}

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>
    
        </body>
    </html>