<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="wideth=device-width, initial-scale+1, shrink-to-fit=no">
    <title>Polls Application</title>
    </head>

    <body>
        <h1>The Detail</h1>
        <form action="" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label>Question Text</label> {{form.questions_text}}
            </div>
            <button type="submit" class="btn-primary">Submit</button>
        </form>
        <a href="{% url 'index' %}" > Back to List</a>
       
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>

    </body>
</html>