<html>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Bootstrap CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

<title>Polls Application</title>
    <body>
        <h1> The List</h1>
        <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
               Questions
              </a>

            {% for item in latest_question_list %}
   
                <a href="{% url 'detail' item.pk%}" class="list-group-item list-group-item-action">{{ item.pub_date}}{{item.questions_text}}</a>
  
        {% endfor %}
    </div>

    <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action active">
          Choice
        </a>
        {% for a in choice %}
          <a href="{% url 'choice_def' a.pk %}"
          class="list-group-item list-group-item-action">{{ a.question.pub_date }}   {{ a.question.questions_text }}   <br>  {{ a.choice_text }}</a>
        {% endfor %}
      </div>
  
      <!-- Link to go back to Add Question -->
      <a href="{% url 'question_form' %}" >Add Question</a>
      <a href="{% url 'choice_form' %}" >Add Choice</a>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>

    </body>
</html>